@use "sass:map";

// System colors
$neutral-0: #fff;
$neutral-100: #f5f5f5;
$neutral-200: #e0e0e0;
$neutral-300: #c2c2c2;
$neutral-900: #000;

$primary-500: #040057;
$primary-400: #1a00b2;
$primary-300: #3300ff;
$primary-200: #6666ff;
$primary-100: #9999ff;

$secondary-500: #ca6812;
$secondary-400: #e07b2e;
$secondary-300: #f28c43;
$secondary-200: #f9a66b;
$secondary-100: #fcbf91;

$success-500: #007f3e;
$success-400: #00984c;
$success-300: #00b15a;
$success-200: #33c977;
$success-100: #66df8f;

$danger-500: #b00020;
$danger-400: #c11228;
$danger-300: #d32430;
$danger-200: #e6363f;
$danger-100: #f28c43;

// Font sizes
$base-font-size: 16;
$font-body-m: calc(14rem / $base-font-size);
$font-body-l: calc(16rem / $base-font-size);
$font-body-xl: calc(18rem / $base-font-size);
$font-body-xxl: calc(20rem / $base-font-size);
$font-heading-s: calc(24rem / $base-font-size);
$font-heading-m: calc(32rem / $base-font-size);
$font-heading-l: calc(40rem / $base-font-size);
$font-heading-xl: calc(48rem / $base-font-size);
$font-heading-xxl: calc(64rem / $base-font-size);

// Font weights
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

// Sizing map
$sizes: (
  "0": calc(2rem / $base-font-size),
  "1": calc(4rem / $base-font-size),
  "2": calc(8rem / $base-font-size),
  "3": calc(16rem / $base-font-size),
  "4": calc(24rem / $base-font-size),
  "5": calc(32rem / $base-font-size),
  "6": calc(48rem / $base-font-size),
  "7": calc(64rem / $base-font-size),
);

// Spacing
$spacing-0: map.get($sizes, "0");
$spacing-1: map.get($sizes, "1");
$spacing-2: map.get($sizes, "2");
$spacing-3: map.get($sizes, "3");
$spacing-4: map.get($sizes, "4");
$spacing-5: map.get($sizes, "5");
$spacing-6: map.get($sizes, "6");
$spacing-7: map.get($sizes, "7");

// Sizes
$size-0: map.get($sizes, "0");
$size-1: map.get($sizes, "1");
$size-2: map.get($sizes, "2");
$size-3: map.get($sizes, "3");
$size-4: map.get($sizes, "4");
$size-5: map.get($sizes, "5");
$size-6: map.get($sizes, "6");
$size-7: map.get($sizes, "7");

// breakpoints
$breakpoint-xxs: 320px;
$breakpoint-xs: 375px;
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1200px;

// Radius
$radius-1: 5px;
$radius-2: 10px;
$radius-3: 15px;
$radius-rounded: 50%;

// Shadows
$shadow-1: 0 4px 12px rgba(0, 0, 0, 0.25);

// page-wrapper width
$page-wrapper-max-width: 1200px;

// card width
$card-max-width: 200px;
