@use "@/common/styles/variables" as vars;

.heading {
  font-size: vars.$font-heading-l;
  font-weight: vars.$font-weight-bold;
  margin-bottom: vars.$spacing-4;
}

.loadingMessage {
  font-size: vars.$font-body-xl;
  margin: vars.$spacing-4 0;
  text-align: center;
}
