@use "@/common/styles/variables" as vars;

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: vars.$spacing-2;
  padding: vars.$spacing-3 0;
}

.button {
  padding: vars.$spacing-2 vars.$spacing-3;
  font-size: vars.$font-body-m;
  background-color: vars.$primary-500;
  color: vars.$neutral-0;
  border: none;
  border-radius: vars.$radius-1;
  cursor: pointer;

  &--disabled {
    background-color: vars.$neutral-300;
    cursor: not-allowed;
  }

  &:hover {
    background-color: vars.$primary-400;
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px vars.$primary-200;
  }
}
